<div class="banner-request" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "home1.jpg" %>');">
  <div class="banner-content">

    <h1>My Trip Request</h1>
    <h4>
      <span id="banner-typed-text"></span>
    </h4>
    <a href="" target="blank" class="btn btn-primary btn-lg">Start your Trip now!</a>
  </div>
</div>

<div class="wrapper">
  <div id="sidebar">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#infos">Infos
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#hebergement">Hébergement
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#train">Train
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#vols">Vols Commerciaux
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#voitures">Voitures
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#bateaux">Bateaux
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#coavionnage">Coavionnage
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">

    <div class="tab-pane fade in active card text-center" id="infos">
      <h2>Mes infos</h2>
      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>

        <div class="tab-pane fade card text-center" id="hebergement">
          <h2>Mon hébergement</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo at ratione inventore aut cumque necessitatibus expedita molestiae distinctio, dignissimos, dolorem repudiandae autem asperiores, rerum ipsum. Nihil fuga accusantium mollitia repudiandae.</p>
        </div>

        <div class="tab-pane fade card text-center" id="train">
          <h2>Mon voyage en train</h2>
          <table id="movies">
            <tbody>
              <tr>
                <td>
                  <img src="../shared/images/space-odyssey.jpg" alt="space odyssey">
                </td>
                <td>
                  <h3>2001 - Space Odyssey</h3>
                  <p>Humanity finds a mysterious, obviously artificial, object buried beneath the Lunar surface and, with the intelligent computer H.A.L. 9000, sets off on a quest.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/monsieur-hulot.jpg" alt="monsieur hulot">
                </td>
                <td>
                  <h3>Monsieur Hulot</h3>
                  <p>Monsieur Hulot comes to a beachside hotel for a vacation, where he accidentally (but good-naturedly) causes havoc.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/alien.jpg" alt="alien">
                </td>
                <td>
                  <h3>Alien</h3>
                  <p>The commercial vessel Nostromo receives a distress call from an unexplored planet. After searching for survivors, the crew heads home only to realize that a deadly bioform has joined them.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade card text-center" id="vols">
          <h2>Mon trajet en avion</h2>
          This page has been coded during the <a href="http://lewagon.com/program" target="_blank">FullStack program @LeWagon</a>. That was probably the best experience of my entire life.
          <ul class="list-inline">
           <li>
             <a href="#">
               <i class="fa fa-heart"></i>
             </a>
           </li>
           <li>
             <a href="#">
               <i class="fa fa-share"></i>
             </a>
           </li>
           <li>
             <a href="#">
               <i class="fa fa-star"></i>
             </a>
           </li>
          </ul>
        </div>

        <div class="tab-pane fade card text-center" id="voitures">
          <h2>Ma location de véhicule</h2>
          <table id="movies">
            <tbody>
              <tr>
                <td>
                  <img src="../shared/images/space-odyssey.jpg" alt="space odyssey">
                </td>
                <td>
                  <h3>2001 - Space Odyssey</h3>
                  <p>Humanity finds a mysterious, obviously artificial, object buried beneath the Lunar surface and, with the intelligent computer H.A.L. 9000, sets off on a quest.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/monsieur-hulot.jpg" alt="monsieur hulot">
                </td>
                <td>
                  <h3>Monsieur Hulot</h3>
                  <p>Monsieur Hulot comes to a beachside hotel for a vacation, where he accidentally (but good-naturedly) causes havoc.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/alien.jpg" alt="alien">
                </td>
                <td>
                  <h3>Alien</h3>
                  <p>The commercial vessel Nostromo receives a distress call from an unexplored planet. After searching for survivors, the crew heads home only to realize that a deadly bioform has joined them.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade card text-center" id="bateaux">
          <h2>Ma location de bateau</h2>
          <table id="movies">
            <tbody>
              <tr>
                <td>
                  <img src="../shared/images/space-odyssey.jpg" alt="space odyssey">
                </td>
                <td>
                  <h3>2001 - Space Odyssey</h3>
                  <p>Humanity finds a mysterious, obviously artificial, object buried beneath the Lunar surface and, with the intelligent computer H.A.L. 9000, sets off on a quest.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/monsieur-hulot.jpg" alt="monsieur hulot">
                </td>
                <td>
                  <h3>Monsieur Hulot</h3>
                  <p>Monsieur Hulot comes to a beachside hotel for a vacation, where he accidentally (but good-naturedly) causes havoc.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/alien.jpg" alt="alien">
                </td>
                <td>
                  <h3>Alien</h3>
                  <p>The commercial vessel Nostromo receives a distress call from an unexplored planet. After searching for survivors, the crew heads home only to realize that a deadly bioform has joined them.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade card text-center" id="coavionnage">
          <h2>Mon trajet en coavionnage</h2>
          <table id="movies">
            <tbody>
              <tr>
                <td>
                  <img src="../shared/images/space-odyssey.jpg" alt="space odyssey">
                </td>
                <td>
                  <h3>2001 - Space Odyssey</h3>
                  <p>Humanity finds a mysterious, obviously artificial, object buried beneath the Lunar surface and, with the intelligent computer H.A.L. 9000, sets off on a quest.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/monsieur-hulot.jpg" alt="monsieur hulot">
                </td>
                <td>
                  <h3>Monsieur Hulot</h3>
                  <p>Monsieur Hulot comes to a beachside hotel for a vacation, where he accidentally (but good-naturedly) causes havoc.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="../shared/images/alien.jpg" alt="alien">
                </td>
                <td>
                  <h3>Alien</h3>
                  <p>The commercial vessel Nostromo receives a distress call from an unexplored planet. After searching for survivors, the crew heads home only to realize that a deadly bioform has joined them.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



    </div>







</div>


